<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메이플 길드 매니저 :: 길드 명부</title>
    <style>
         .guild-tables, button {
            display: flex;
        }

        .guild-table {
            margin-right: 20px;
        }

        .editable-cell {
            position: relative;
            cursor: pointer;
        }

        .editable-cell input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
        }

        .editable-cell .display-value {
            display: block;
        }
    </style>
</head>

<body>
    <h1>길드 명부</h1>
    <button onclick="goToGuildSetting()">길드 명부 설정</button>
    <button onclick="goToMemberSync()">길드 명부 동기화</button>

    <div class="guild-tables">
        <!-- 본캐릭 길드원 테이블 -->
        <div class="guild-table">
            <table id="mainMemberList">
                <thead>
                    <tr>
                        <th>별빛 <%= mainMembers.length %>명</th>
                    </tr>
                </thead>
                <tbody>
                    <% mainMembers.forEach(mainMember=> { %>
                        <tr>
                            <td>
                                <%= mainMember.name %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>

        <!-- 부캐릭 길드원 테이블 -->
        <div class="guild-table">
            <table id="subMemberList">
                <thead>
                    <tr>
                        <th>새벽 <%= subMembers.length %>명</th>
                    </tr>
                </thead>
                <tbody>
                    <% subMembers.forEach(subMember=> { %>
                        <tr>
                            <td>
                                <%= subMember.name %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>

        <!-- 부캐릭 길드원 본캐 확인, 추가 테이블 -->
        <div class="guild-table">
            <table id="subMemberList">
                <thead>
                    <tr>
                        <th>별빛</th>
                        <th>새벽</th>
                    </tr>
                </thead>
                <tbody>
                    <% subMemberMainNames.forEach(subMember=> { %>
                        <tr>
                            <td class="editable-cell" onclick="toggleEditable(this, '<%= subMember.name %>')">
                                <span class="display-value"><%= subMember.main_name %></span>
                                <input type="text" value="<%= subMember.main_name %>" style="display: none;">
                            </td>
                            <td>
                                <%= subMember.name %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <script src="./js/memberListActions.js"></script>
</body>

</html>